@font-face {
    font-family: 'Icons';
    src: url("../fonts//Icons2.ttf") format("truetype"),
        url("../fonts//icons2-webfont.woff2") format("woff2"),
        url("../fonts//icons2-webfont.woff") format("woff");
    ;
    font-weight: normal;
    font-style: normal;
}