.axanael {
    width: 80%;

    background-color: darkgray;
}

.axanael_tools {
    width: 35%;
    background-color: lightgray;
    border: 1px solid #000;
}

.axanael_lib {
    display: inline;
}

.axanael_lib svg {
    background-color: white;
}

.axanael_body {
    display: flex;
}

.open_axanael {
    font-family: 'Icons';
    font-size: large;
}

.axanael_paint {
    width: 65%;
    height: 100%;
    border: 1px solid #000;
}