.axanael {
    width: 100%;
    height: 80%;
    background-color: darkgray;
}

.axanael_control_b input[type="range"] {
    width: 75%;
}

.axanael_control_b {
    overflow: auto;
}


.axanael_tools {
    width: 50%;
    background-color: lightgray;
    border: 1px solid #000;
}


.axanael_lib svg {
    width: 30px;
    height: 30px;
}

.axanael_lib {
    height: 25%;
    overflow: auto;
}

.axanael_control_b svg {
    width: 30px;
    height: 30px;
}

.axanael_controls {
    border: 1px solid #000;
}


.axanael_body {
    display: flex;
    height: 90%;
}

.open_axanael {
    font-family: 'Icons';
    font-size: large;
}

.axanael_paint {
    height: calc(var(--width)/2);
    width: calc(var(--width)/2);
    border: 1px solid #000;
}

.axanael {
    background-color: darkgray;
}

.axanael_preview {
    width: 100%;
    margin: 0 auto;
}

.axanael_preview div {
    display: flex;
    align-items: center;
    justify-content: center
}