@font-face {
    font-family: 'Icons';
    src: url('../fonts/icons2.ttf') format('truetype'),
        url("../fonts/icons2-webfont.woff2") format("woff2"),
        url("../fonts/icons2-webfont.woff") format("woff");
    ;
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans-serif;
}

input[type="range"] {
    width: 400px;
}

svg text {
    user-select: none;
}

.mainpanel {
    width: 100%;

    display: flex;
}

.mainpanel .panels {
    width: 100%;
    display: inline;
}

.mainpanel .control_panels {
    width: 50%;
}

.step_preview {
    width: 100%;
    margin: 0 auto;
}

.step_preview div {
    display: flex;
    align-items: center;
    justify-content: center
}

.paint {
    height: calc(var(--width)/3);
    width: 100%;
    border: 1px solid #000;
}

.preview div {
    display: inline;
}

.preview {
    width: 100%;
    border: 1px solid #000;
}

.page {

    border: 1px solid #000;
}

.editpanel {
    width: 100%;
    border: 1px solid #000;
    display: block;
}

.editpanel span p {
    display: flex;
}

.editpanel span b {
    pointer-events: none;
}

.openclose {
    display: block;
    background-color: gray;
    border: 1px solid #000;
    user-select: none;
}