input[type="range"] {
    width: 400px;
}

svg text {
    pointer-events: none;
}

.mainpanel {
    width: 100%;

    display: flex;
}

.mainpanel .panels {
    width: 100%;
    display: inline;
}

.mainpanel .control_panels {
    width: 50%;
}

.paint {
    height: 50%;
    width: 100%;
    border: 1px solid #000;
}

.preview div {
    display: flex;
    align-items: center;
    justify-content: center
}

.preview {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #000;
}

.page {

    border: 1px solid #000;
}

.editpanel {
    width: 100%;
    border: 1px solid #000;
    display: block;
}

.editpanel span p {
    display: flex;
}

.editpanel span b {
    pointer-events: none;
}

.openclose {
    display: block;
    background-color: gray;
    border: 1px solid #000;
}