input[type="range"] {
    width: 400px;
}

svg text {
    pointer-events: none;
}

.mainpanel {
    width: 100%;

    display: flex;
}

.paint {
    height: 100%;
    border: 1px solid #000;
}

.historypanel {
    width: 100%;
    /* height: 30vh; */
    border: 1px solid #000;
    /* overflow-y: scroll;
    overflow-x: scroll; */
    display: flex;
}


.history {
    height: 100%;
    /* width: 30%; */
    border: 1px solid #000;
    overflow-y: scroll;
    overflow-x: scroll;
}

.openclose {
    display: block;
    background-color: gray;
    border: 1px solid #000;
}