:root:has(dialog[open]) {
    overflow: hidden;
    scrollbar-gutter: stable;
}

.cpeditor_body .tools {
    width: 100%;
    height: 10%;
    background-color: gray;
    border: 1px solid #000;

}

.tool_buttons button {
    font-family: 'Icons';
    font-size: large;
}

.tool_buttons span {
    font-family: 'Icons';
    font-size: large;
}

.tool_buttons {
    display: inline;
    align-content: center;
}

.paint_edit {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center
}

.cpeditor_body svg {
    margin: 0 auto;
}