.axanael {
    width: 80%;

    background-color: darkgray;
}

.axanael_control_b input[type="range"] {
    width: 50%;
}

.axanael_tools {
    width: 35%;
    background-color: lightgray;
    border: 1px solid #000;
}


.axanael_lib svg {
    width: 30px;
    height: 30px;
}

.axanael_control_b svg {
    width: 30px;
    height: 30px;
}

.axanael_controls {
    border: 1px solid #000;
}


.axanael_body {
    display: flex;
}

.open_axanael {
    font-family: 'Icons';
    font-size: large;
}

.axanael_paint {
    width: 65%;
    height: 100%;
    border: 1px solid #000;
}