input[type="range"] {
    width: 400px;
}

svg text {
    pointer-events: none;
}

.mainpanel {
    width: 100%;

    display: flex;
}

.paint {
    height: 100%;
    border: 1px solid #000;
}

.preview div {
    display: flex;
    align-items: center;
    justify-content: center
}

.preview {
    margin: 0 auto;
}

.page {
    max-width: 50%;
    border: 1px solid #000;
}

.editpanel {
    width: 30%;
    border: 1px solid #000;
    display: block;
}

.editpanel span p {
    display: flex;
}

.editpanel span b {
    pointer-events: none;
}

.openclose {
    display: block;
    background-color: gray;
    border: 1px solid #000;
}