:root:has(dialog[open]) {
    overflow: hidden;
    scrollbar-gutter: stable;
}

.cpeditor_body .tools {
    width: 100%;
    height: 10%;
    background-color: gray;
    border: 1px solid #000;
    margin: 0 auto;
}

.tool_buttons button {
    font-family: 'Icons';
    font-size: large;
    user-select: none;
}

.opendialog {
    font-family: 'Icons';
    font-size: large;
}

.discardclose {
    font-family: 'Icons';
    font-size: large;
}

.tool_buttons span {
    font-family: 'Icons';
    font-size: large;
    color: white;
}

.tool_buttons .cpedit_input_a {
    height: 30px;
    width: 30px;
    color: white;
    background-color: red;
    user-select: none;
}

.tools div {
    display: flex;
    align-items: center;
    justify-content: center
}


.paint_edit {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center
}

.cpeditor {
    background-color: white
        /* background-color: rgb(37, 37, 37); */
}

.cpeditor_body svg {
    margin: 0 auto;

}